@import "tailwindcss";

@theme {
    --font-sans: var(--font-dm-sans);
    --font-syne: var(--font-syne);
    --color-brand-navy: #0a192f;
    --color-brand-green: #10b981;
    --color-np-navy: #0d1b35;
    --color-np-navy2: #162848;
    --color-np-green: #00c875;
    --color-np-amber: #f5a623;
    --color-np-red: #e84040;
    --color-np-indigo: #6366f1;
}

@layer base {
    :root {
        --navy: #0d1b35;
        --navy-2: #162848;
        --green: #00c875;
        --amber: #f5a623;
        --red: #e84040;
        --indigo: #6366f1;
    }
}